.heading {
    font-family: "inter";
    font-weight: 600;
    line-height: 110%;
}

.headingXL {
    font-size: 64px;
    font-weight: 600;
}

.headingM {
    font-size: 24px;
    font-weight: 600;
}

.headingL {
    font-size: 48px;
    line-height: 110%;
    font-weight: 600;
}

.headingS {
    font-size: 20px;
}

.body {
    font-family: "inter";
    font-weight: 400;
    line-height: 150%;
}

.bodyM {
    font-size: 16px;
    line-height: 150%;
}

.bodyMBold {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.bodyS {
    font-size: 14px;
}

.logo {
    height: 58.75px;
    width: 58.75px;
    margin-left: 100px;
}

.units {
    color: #345ff6;
    margin-right: 5px;
}


body{
    display: flex;
    flex-direction: column;
    align-content: end;
    width: 100%;
}
.bluegradientsquare {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-content: start;
    justify-content: space-around;
    width: 978px;
    height: 737px;
    background-image: linear-gradient(290.1deg, #D6E6FE, rgba(214, 252, 254, 0) 100%);
    border-radius: 0px 0px 35px 35px;
    padding-bottom: 100px;
}

.textarea1
{
    width: 520px;
    margin-left: 100px;
}


.bmicaptureDetails {
    position: absolute;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1em 3em auto auto auto;
    width: 564px;
    left:700px;
    top:250px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 16px;
    padding: 1rem;
    row-gap: 1rem;

}

.bmigridline1 {
    grid-column: 1/ 5;
    text-align: start;
    margin-bottom: 1rem;
}

.bmilabelbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5em;
    margin-left: 10px;
}

.bmiinputsborder {
    border: 1px solid #D8E2E7;
    border-radius: 12px;
    height: 2em;
    width:70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bmiinputsborder:hover {
    border-color: #345ff6;
}

.bmiradio {
    width: 2em;
    height: 2em;
    color: #345FF626;

}

.bmiradiobox {
    display: flex;
    align-items: center;
    justify-items: start;
    column-gap: 0.5em;
}

.bmiinputs {
    width: 75%;
    border: none;
    outline: none;
    padding-left: 0.5em;
}

.bmiMetricUnitsBox
{
    display: flex;
    grid-column:1/5;
}

.bmiImperialUnitsBox
{
    grid-column: 1/ 5;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 40% 40%;
    column-gap: 1rem;
    row-gap: 1rem;
}

.bottombanner
 {

    background: linear-gradient(90deg, #345FF7 0%, #587DFF 100%);
    border-radius: 16px 99px 99px 16px;
    grid-column: 1/ 5;
    height: 8em;
    width: 80%;
}

.bmibannertext
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    row-gap: 1em;
    padding-left: 2em;
    margin-top: 1rem;
}

.bmibannerresulttext
{
    margin-top: 1rem;
    display: flex;
    text-align: center;
    padding-right:2rem;
}

.maneatingimg
{
    width: 560px;
    height: 535px;
}

.bmiresult {
    display: flex;
    width: 1300px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.bmiresulttextarea {
    width: 465px;
    height: 309px;
}

.tipsshadebox
{
    margin-top: 2rem;
    width: 1300px;
    height: 402px;
    background: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
    border-radius: 35px;
    display: flex;
    align-items: center;
}

.tipbox
{
    margin-left: 5em;
    width: 365px;
    height: 234px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items:center;
}

.tipimage
{
    width: 64px;
    height: 64px;  
}

.limitsofbmibox
{
    display: flex;
    flex-direction: column;
    width:1200px ;
    row-gap: 2rem;
    margin-left: 5rem;
}

.limitsofbmiboxline1
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.limitsofbmiboxline2
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.limitsofbmiboxline3
{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.imgcurvebetween
{
    position: absolute;
    width: 85px;
    height:200px;
    left: 1200px;
    top: 760px;
}

.iconbmi
{
    display: flex;
    align-items: center;
    justify-content: start;
    height:2rem;
    column-gap: 0.5rem;
    width: 250px;
}

.bmismallcard
{
    display:flex;
    color:#5E6E85;
    flex-direction: column;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 1rem;
    width: 250px;
    margin-left: 10px;
}

@media  (max-width: 500px){

    .headingXL {
        font-size: 48px;
        font-weight: 600;
    }

    .headingL {
        font-size: 32px;
    }

    .bodym{
        font-size: 16px;
    }

    .logo {
        height: 58.75px;
        width: 58.75px;
        margin-left: 0px;
    }

    .textarea1
    {
        width: 327px;
        margin-left: 0px;
        text-align:center;
    }

    .bluegradientsquare {
        align-items: center;
        justify-content: start ;
        width:375px;
        height:640px;
        padding-bottom: 0;
        padding-top: 1rem;
    }


    .bmicaptureDetails {
        box-sizing: border-box;
        width: 95%;
        height: auto;
        top:420px;
        left:0; 
        left:2.5%
    }

    .bmiresult {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width:375px;
        top:200px;;
    }

    .maneatingimg
    {
        left:500px;
        margin-top: 100px;
        width:311px;
        height: 354px;
        margin-left: 0;
    }
    .bmiMetricUnitsBox
    {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .bottombanner
    {
        border-radius: 16px;
        background: linear-gradient(90deg, #345FF7 0%, #587DFF 100%);   
        height: auto;
        width: 95%;
        padding-bottom: 1rem;
    }

    .bmibannerresulttext
    {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .bmiresulttextarea {
        width: 355px;
        height: 309px;
        margin-left: 1rem;
    }
};
    
