.heading {
    font-family: "inter";
    font-weight: 600;
    line-height: 110%;
}

.headingXL {
    font-size: 64px;
    font-weight: 600;
}

.headingM {
    font-size: 24px;
    font-weight: 600;
}

.headingL {
    font-size: 48px;
    line-height: 110%;
    font-weight: 600;
}

.headingS {
    font-size: 20px;
}

.body {
    font-family: "inter";
    font-weight: 400;
    line-height: 150%;
}

.bodyM {
    font-size: 16px;
    line-height: 150%;
}

.bodyMBold {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.bodyS {
    font-size: 14px;
}

.logo {
    height: 58.75px;
    width: 58.75px;
}

.units {
    color: #345ff6;
    margin-right: 5px;
}


body{
    display: flex;
    flex-direction: column;
    align-content: end;
    width: 100%;
    padding-left: 100px
}
.bluegradientsquare {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-content: start;
    justify-content: space-around;
    width: 978px;
    height: 737px;
    background-image: linear-gradient(290.1deg, #D6E6FE, rgba(214, 252, 254, 0) 100%);
    border-radius: 0px 0px 35px 35px;
    padding-bottom: 100px;
    padding-left: 100px;
}

.bluegradientsquare .textarea1
{
    width: 520px;
}


.bmicaptureDetails {
    position: absolute;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1em 3em auto auto auto;
    width: 564px;
    left:700px;
    top:250px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 16px;
    padding: 1rem;
    row-gap: 1rem;

}

.bmigridline1 {
    grid-column: 1/ 5;
    text-align: start;
    margin-bottom: 1rem;
}

.bmilabelbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5em;
    margin-left: 10px;
}

.bmiinputsborder {
    border: 1px solid #D8E2E7;
    border-radius: 12px;
    height: 2em;
    width:70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bmiinputsborder:hover {
    border-color: #345ff6;
}

.bmiradio {
    width: 2em;
    height: 2em;
    color: #345FF626;

}

.bmiradiobox {
    display: flex;
    align-items: center;
    justify-items: start;
    column-gap: 0.5em;
}

.bmiinputs {
    width: 75%;
    border: none;
    outline: none;
    padding-left: 0.5em;
}

.bmiMetricUnitsBox
{
    display: flex;
    grid-column:1/5;
}

.bmiImperialUnitsBox
{
    grid-column: 1/ 5;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 40% 40%;
    column-gap: 1rem;
    row-gap: 1rem;
}

.bottombanner
 {

    background: linear-gradient(90deg, #345FF7 0%, #587DFF 100%);
    border-radius: 16px 99px 99px 16px;
    grid-column: 1/ 5;
    height: 8em;
    width: 80%;
}

.bmibannertext
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    row-gap: 1em;
    padding-left: 2em;
    margin-top: 1rem;
}

.bmibannerresulttext
{
    display: grid;
    grid-template-columns: 40% 60%;
    width:auto;
    height: 100%;
    padding: 1rem;
}


.maneatingimg
{
    width: 560px;
    height: 535px;
}

.bmiresult {
    display: flex;
    width: 1300px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.bmiresulttextarea {
    width: 465px;
    height: 309px;
}

.tipsshadebox
{
    margin-top: 2rem;
    width: 1300px;
    height: 402px;
    background: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
    border-radius: 35px;
    display: flex;
    align-items: center;
}

.tipbox
{
    margin-left: 5em;
    width: 365px;
    height: 234px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items:center;
}

.tipimage
{
    width: 64px;
    height: 64px;  
}

.limitsofbmibox
{
    display: flex;
    flex-direction: column;
    width:1200px ;
    row-gap: 2rem;
    margin-left: 5rem;
}

.limitsofbmiboxline1
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.limitsofbmiboxline2
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.limitsofbmitextbox{
    width:450px;
}

.limitsofbmiboxline3
{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.imgcurvebetween
{
    position: absolute;
    width: 85px;
    height:200px;
    left: 1200px;
    top: 680px;
}

.iconbmi
{
    display: flex;
    align-items: center;
    justify-content: start;
    height:2rem;
    column-gap: 0.5rem;
    width: 250px;
}

.bmismallcard
{
    display:flex;
    color:#5E6E85;
    flex-direction: column;
    box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 1rem;
    width: 250px;
    margin-left: 10px;
}
@media (max-width:1100px)
{
    .headingXL {
        font-size: 48px;
        font-weight: 600;
    }

    .headingL {
        font-size: 32px;
    }

    .headingM {
        font-size: 24px;
    }

    .bodym{
        font-size: 16px;
        line-height: 100%;;
    }

    .BMICaptureAreaMobile{
        height: 900px;
    }


    .bluegradientsquare {
        align-items: center;
        justify-content: center ;

        width:750px;
        height:640px;
        padding-bottom: 0;
        padding-top: 1rem;
        padding-left: 0px;
        row-gap: 2rem;
    }

    .bluegradientsquare .textarea1
    {
        width: 600px;
        margin-left: 0px;
        text-align:center;
    }

    .bmicaptureDetails {
        box-sizing: border-box;
        width: 95%;
        height: auto;
        top:500px;
        left:2.5%
    }

    .bmiresult {
        width: 700px;
        display: grid;
        grid-template-columns: 50% 50%;
        padding-left: 2rem;
        height: auto;
    }

    .maneatingimg
    {
        width:311px;
        height: 354px;
        margin-left: 0;
    }

    .bmiresulttextarea {
        width: 300px;
        height: auto;
    }

    .imgcurvebetween{
        display: none;
    }

    .tipsshadebox
    {
        padding: 1rem;
        margin-left:0px;
        width: 700px;
        height: auto;
        background: var(--gradient-1, linear-gradient(315deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%));
        border-radius: 0%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        row-gap: 1rem;
    }

    .tipbox
    {
        margin-left: 0px;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .imgcurvebetweenmobile
    {
        display: none;
    }
    
    .limitsofbmibox
    {
        display: flex;
        flex-direction: column;
        width:700px ;
        row-gap: 0;
        margin-left:1rem;
    }

    .limitsofbmiboxline1
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-top: 2rem;
    }

    .limitsofbmiboxline2
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 1rem;
        row-gap: 1rem;
    }

    .limitsofbmiboxline3
    {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 1rem;

    }

  

    .limitsofbmitextbox{
        width:700px;
    }

    .bmismallcard
    {
        display:flex;
        color:#5E6E85;
        flex-direction: column;
        box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
        border-radius: 16px;
        align-items: start;
        justify-content: center;
        background-color: white;
        padding: 1rem;
        width: 700px;
    }
}

@media  (max-width: 500px){


    .logo {
        height: 58.75px;
        width: 58.75px;
        margin-left: 0px;
    }

    body{
        padding: 0;

    }

    .BMICaptureAreaMobile{
        height: 900px;
    }


    .bluegradientsquare {
        align-items: center;
        justify-content: start ;
        width:375px;
        height:640px;
        padding-bottom: 0;
        padding-top: 1rem;
        padding-left: 0px;
    }

    .bluegradientsquare .textarea1
    {
        width: 327px;
        margin-left: 0px;
        text-align:center;
    }

    .bmicaptureDetails {
        box-sizing: border-box;
        width: 95%;
        height: auto;
        top:420px;
        left:0; 
        left:2.5%
    }

    .bmiresult {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width:375px;
        padding:0 ;
        height: auto;
    }

    .maneatingimg
    {
        width:311px;
        height: 354px;
        margin-left: 0;
    }
    
    .bmiMetricUnitsBox
    {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .bottombanner
    {
        margin-left: -0.5rem;
        border-radius: 16px;
        background: linear-gradient(90deg, #345FF7 0%, #587DFF 100%);   
        height: auto;
        width: 95%;
        padding: 1rem;
    }

    .bmibannerresulttext
    {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .bmiresulttextarea {
        width: 300px;
        margin-left: 1rem;
    }

 

    .tipsshadebox
    {
        padding: 2rem;
        margin-left:0px;
        margin-top: 1rem;
        width: 320px;
        height: auto;
        background: var(--gradient-1, linear-gradient(315deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%));
        border-radius: 0%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        row-gap: 1rem;
        
    }

    .tipbox
    {
        margin-left: 0px;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: start;
    }



    .limitsofbmibox
    {
        display: flex;
        flex-direction: column;
        width:300px ;
        row-gap: 0;
        margin-left:1rem;
    }

    .limitsofbmiboxline1
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-top: 2rem;
    }

    .limitsofbmiboxline2
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 1rem;
        row-gap: 1rem;
    }

    .limitsofbmiboxline3
    {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 1rem;

    }

  

    .limitsofbmitextbox
    {
        width: 300px;
   
    }

    .bmismallcard
    {
        display:flex;
        color:#5E6E85;
        flex-direction: column;
        box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
        border-radius: 16px;
        align-items: start;
        justify-content: center;
        background-color: white;
        padding: 1rem;
        width: 300px;
    }
}
